[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dingxu
[access "refs/for/refs/*"]
	read = group user/dingxu
	push = group user/dingxu
	label-Code-Review = -2..+2 group user/dingxu
	label-Verified = -1..+1 group user/dingxu
	rebase = group user/dingxu
	removeReviewer = group user/dingxu
	submit = group user/dingxu
[access "refs/heads/*"]
	read = group user/dingxu
	create = group user/dingxu
	push = +force group user/dingxu
	pushMerge = group user/dingxu
[access "refs/tags/*"]
	push = +force group user/dingxu
	pushTag = group user/dingxu
	pushSignedTag = group user/dingxu
